@media (max-width: 1000px) {
    #info {
        width: 100%;
        padding: 1rem;
    }

    #info #info-price {
        display: flex;
        justify-content: space-between;
    }

    #info #info-cart {
        grid-template-columns: auto;
        grid-template-rows: repeat(2, 4rem);
    }
}