:root {
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
    --dark-blue: hsl(220, 13%, 13%);
    --grey-blue: hsl(220, 14%, 75%);
    --light-grey-blue: hsl(223, 64%, 98%);
    --dark-grey-blue: hsl(219, 9%, 45%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --font-size: 16px;
    --font-family: 'Kumbh Sans', sans-serif;
    --light-weight: 400;
    --thick-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1, h2 {
    color: var(--black);
    font-weight: var(--thick-weight);
}

h3 {
    color: var(--orange);
    font-weight: var(--thick-weight);
}

p {
    color: var(--dark-grey-blue);
    line-height: 1.5rem;
}

a {
    color: var(--grey-blue);
    text-decoration: none;
}